CODE_SIGN_IDENTITY=iPhone Developer
DEVELOPMENT_TEAM=2N62934Y28
SWIFT_VERSION=5.0
ENABLE_USER_SCRIPT_SANDBOXING=YES
ASSETCATALOG_COMPILER_GENERATE_ASSET_SYMBOLS=YES
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS=YES
IPHONEOS_DEPLOYMENT_TARGET=17.0
TARGETED_DEVICE_FAMILY=1,2
INFOPLIST_KEY_LSApplicationCategoryType=public.app-category.utilities
